*{
    font-family: Arial, Helvetica, sans-serif;
}



// SETTINGS
// COLORS
$color-alpha-xx-light: #caf6ff;
$color-alpha-x-light: #7bdff8;
$color-alpha-light: #37baea;
$color-alpha: #0a85d1;
$color-alpha-dark: #004aaa;
$color-alpha-x-dark: #001874;
$color-alpha-xx-dark: #010036;

$color-neutral-xxxx-light: #F5F6FA;
$color-neutral-xxx-light: #E2E3E7;
$color-neutral-xx-light: #caccd4;
$color-neutral-x-light: #b5b6c0;
$color-neutral-light: #a0a1ad;
$color-neutral: #8b8c9a;
$color-neutral-dark: #757787;
$color-neutral-x-dark: #606274;
$color-neutral-xx-dark: #4b4c60;
$color-neutral-xxx-dark: #35374d;
$color-neutral-xxxx-dark: #20223a;

// FONTS
// <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
$primary-font-stack: 'PT Sans', sans-serif;

// DIMENSIONS
$sidebar-width: 300px;

$gutter: 24px;

// ANIMATIONS
$speed: 200ms;
$easing: ease-out;