@import '../app.component.scss';

.c-home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    padding-left: $gutter;
    color: $color-neutral-xxx-light;
    background-color: $color-alpha-dark;
}

.c-home__header{
    font-size: 1.5rem;
    margin-bottom: 14px;
}